h1{
    text-align: center;
    color: cornflowerblue;
}

p {
    text-align: center;
    font-size: large;
}

.errorImageDiv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}